@font-face {
    font-family: 'Courier Prime Regular';
    src: url('CourierPrime-Regular.ttf') format('truetype');
}

* {
    font-family: 'Courier Prime Regular', monospace;
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 15vh;
}

#logo {
    width: 250px;
    height: 75px;
}

header a {
    text-decoration: none;
    color: black;
    margin: 0 50px;
    font-weight: bold;
    font-size: 20px;
}

main {
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100vw;
}   
 
.gallery {
    display: grid;
    justify-content: center;
    grid-template-rows: 10vw 10vw 10vw;
    grid-template-columns: 10vw 10vw 10vw;
    width: 100vw;
    height: 35vw;
}
  
.square {
    width: 10vw;
    height: 10vw;
    border: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}


.picture {
    height: 100%;
    width: 100%;
}

.flip-card {
    height: 100%;
    width: 100%;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: white;
    color: black;
}

.flip-card-back {
    color: white;
    transform: rotateY(180deg);
}

.picture-middle {
    width: 90%;
    height: 90%;
}

@media (max-width:600px) {
    * {
        margin: 0;
        padding: 0;
    }
    #logo {
        width: 50vw;
        height: 8vh;
    }

    .nav-link {
        width: 25vw;
    }

    header {
        margin-bottom:10vh;
    }

    header a {
        margin: 0 5px;
        font-size: 16px;
    }

    main {
        margin: 0 auto;
    }

    .gallery {
        display: grid;
        justify-content: center;
        grid-template-rows: 30vw 30vw 30vw;
        grid-template-columns: 30vw 30vw 30vw;
        height: 65vh;
        margin: 0;

    }

    .square {
        width: 30vw;
        height: 30vw;
        border: 5px solid black;
    }

    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }
}


/* Obrazy.html */

.single-picture img{
    width: 250px;
    height: 250px;
}
  

/* kontakt.html */

.contact {
    width: 40vw;
    height: 40vh;
    margin: 0 auto;
    text-align: center;
    margin-top: 10vh;
}