/* @font-face {
    font-family: 'Courier Prime Regular';
    src: url('CourierPrime-Regular.ttf') format('truetype');
} */
@font-face {
    font-family: 'Space Mono regular';
    src: url('SpaceMono-Regular.ttf') format('truetype');
}

* {
    font-family: 'Space Mono regular', monospace;
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 15vh;
    margin-left: 20px; /* takie jak gap */
}

#logo {
    width: 250px;
    height: 75px;
}

.logo {
    font-size:50px;
    font-weight: bold;
    margin: 0 50px;
    border: 3px solid black;
    padding: 0 10px;
}

header a {
    text-decoration: none;
    color: black;
    margin: 0 50px;
    font-weight: bold;
    font-size: 20px;
}

main {
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100vw;

}   
 
.gallery {
    display: grid;
    justify-content: center;
    grid-template-rows: 10vw 10vw 10vw;
    grid-template-columns: 10vw 10vw 10vw;
    width: 100vw;
    height: 35vw;
    gap: 20px;
}
  
.square {
    width: 10vw;
    height: 10vw;
    border: 20px solid black;
    border-radius: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.picture {
    height: 100%;
    width: 100%;
    border-radius: 4%;
}

.flip-card {
    height: 100%;
    width: 100%;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: white;
    color: black;
}

.flip-card-back {
    color: white;
    transform: rotateY(180deg);
}

.picture-middle {
    width: 90%;
    height: 90%;
}

/* spinner */
.spinner {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
  
.spinner-inner {
    position: fixed;
    top: 40%;
    left: 47%;
    box-sizing: border-box;
    display: block;
    width: 120px;
    height: 120px;
    margin: 6px;
    border: 10px solid #000;
    border-radius: 50%;
    animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #000 transparent transparent transparent;
}

.spinner-active {
    display: none;
}
  
@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
  
/* Obrazy.html */

.single-picture img{
    width: 250px;
    height: 250px;
    border: 10px solid black;
}

.paintings {
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100vw;
    margin-left: 20px;
}
  

/* kontakt.html */

.contact {
    width: 40vw;
    height: 40vh;
    margin: 0 auto;
    text-align: center;
    margin-top: 10vh;
}

@media (max-width:600px) {
    * {
        margin: 0;
        padding: 0;
    }
    #logo {
        width: 50vw;
        height: 8vh;
    }

    .logo {
        margin: 0 25px;
        border: 3px solid black;
        padding: 0 10px;
    }

    .nav-link {
        width: 25vw;
    }

    header {
        margin-bottom:10vh;
        margin-left: 0px;
    }

    header a {
        margin: 0 5px;
        font-size: 16px;
    }

    main {
        margin: 0 auto;
    }

    .gallery {
        display: grid;
        justify-content: left;
        grid-template-rows: 30vw 30vw 30vw;
        grid-template-columns: 30vw 30vw 30vw;
        height: 65vh;
        margin: 1vw;
        padding: 0;
        gap: 1vw;

    }

    .square {
        width: 30vw;
        height: 30vw;
        border: 3vw solid black;
        border-radius: 12%;
        /* box-sizing: border-box; */
    }

    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

    .spinner-inner {
        top: 40%;
        left: 35%;
    }

    .paintings {
        margin: 0px;
    }
}



